<div class="crypto">
    <div class="form">
        <form>
            <div class="row">
                <label for="ddlCryptoType">Currency</label>
                <select id="ddlCryptoType" name="addType" [(ngModel)]="addType">
                    <option *ngFor="let ct of cryptos" [value]="ct.code">{{ct.name}}</option>
                </select>
            </div>
            <div class="row">
            </div>
            <div class="row">
                <label for="ddlAddOrSubtract">Amount</label><br/>
                <select id="ddlAddOrSubtract" name="addSign" [(ngModel)]="addSign" style="width: 15%;">
                    <option value="+">+</option>
                    <option value="-">-</option>
                </select>
                <input id="txtAmount" name="addAmt" type="text" placeholder="Enter amount" [(ngModel)]="addAmt" style="width: 82%;">
            </div>
            <div class="row submit">
                <input type="submit" value="Save" (click)="addItem()">
            </div>
        </form>
    </div>
    <div class="list">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th style="text-align: right">Price</th>
                    <th style="text-align: right">Amount</th>
                    <th style="text-align: right">Current</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ct of cryptos">
                    <td>{{ ct.name }}</td>
                    <td style="text-align: right">{{ ct.price | number: '1.2-2' }}</td>
                    <td style="text-align: right" [@rowUpdated]="ct.animate">{{ ct.amount | number: '1.0-' + ct.digits }}</td>
                    <td style="text-align: right">{{ (ct.price * ct.amount) | number: '1.2-2' }}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" style="text-align: right; font-weight: bold;">
                        Total:
                    </td>
                    <td style="text-align: right; font-weight: bold;">
                        {{ amtTotal | number: '1.2-2'}}
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div style="clear: both;"></div>
</div>
